body {
    background-color:blanchedalmond;
}

header {
    display: flex;
    background-color: wheat;
}

footer {
    text-align: center;
    background-color: sandybrown;
    height: 25px;
}

h4 {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;

}

#p_picture {
    width: 180px;
    padding: 20px;
}

#header {
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: 700;
    color:rgb(34, 34, 34);

    margin-top: auto;
    margin-bottom: auto;
    line-height: 15px;
    color: #161616
}

.desc {
    padding-left: 2px;
    font-size: 14px;
    color: #161616;
}

.container {
    display: grid;
    background-color: rgb(255, 255, 240);
    margin-left: 50px;
    margin-top: 25px;
    grid-template-areas: 
    "education experience skills";
    padding: 20px;
    max-width: 800px;    
}

.education {
    grid-area: education;
    padding-right: 5px;
}

.experience {
    grid-area: experience;
    padding-left: 5px;
    padding-right: 5px;
}

.skills {
    grid-area: skills;
    padding-left: 5px;
}

.icon {
    width: 30px;
    padding-left: 2px;
    padding-right: 2px;
}
